@font-face {
    font-family: 'fontGame';
    src: url('./font/Pony.ttf');
}

.bookingMovie{
    position: relative;
    font-family: 'fontGame';
    /* background-image: url(../asset/img/bgmovie.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}

.bookingMovie::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* background-color: rgba(0,0,0,0.8); */
}

.rowNumber{
    /* font-size: 25px; */
    width: 45px;
    height: 35px;
    background: none;
    border:none;
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 30px;
    color: yellow;
    
}

.point {
    text-align: center;
    padding: 7px 0;
}

.screen{
    border-bottom: 50px solid rgb(255, 159, 95);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100;
    width:100%;
    margin: 0px auto 30px;
    filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
    font-size: 25px;
    color: #fff;
}

th{
    padding: 0 0.2em;
}

.firstChar {
    color: yellow;
    font-size: 1.5em;
    text-align: center;
}

.ghe {
    width: 2.8em;
    height: 2em;
    font-size: 12px;
    border-radius: 3px;
    padding: 0;
}

.gheThuong{
    border: 3px solid orange;
}

.gheVip {
    border: 3px solid white;
    background: orange;
    color: #000;
} 

.gheDuocChon {
    border: 3px solid rgb(0, 183, 255);
    background: rgb(0, 183, 255);
    color: #000;
    cursor: no-drop !important;
}

.gheDangChon {
    background: rgb(109, 238, 109);
    border: 3px solid rgb(109, 238, 109);
    color: #000;
    cursor: pointer;
}

.modal-key{
    color: rgb(0, 183, 255);
}

.modal-value{
    color: #ffc107;
}



/* Reponsive */

@media (max-width: 575.9px){
    .ghe {
        width: 2.8em;
        height: 2em;
        font-size: 15px;
        border-radius: 3px;
        padding: 0;
    }
}

@media (max-width: 767.9px){
    .col__chair{ 
        margin: 0;
        padding: 0;
    }
    .firstChar{
        padding: 0;
    }

    .row__chair {
        margin: 0;
        border:  0.5px solid rgba(209, 208, 208, 0.781);
    }
}

@media (min-width: 992px) and (max-width: 1199.9px){
    .firstChar {
        color: yellow;
        font-size: 2em;
        text-align: center;
    }
    .ghe {
        width: 2.8em;
        height: 2em;
        font-size: 15px;
        border-radius: 3px;
        padding: 0;
    }
}


